.container{
  margin:auto;
  max-width:900px;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  padding:10px;
}

.box {
  opacity: 1;
  flex: 1 0 30%;
  margin: 10px;
  background:lightgrey;
  background-size:cover;
  height:auto;
  &:before{
    content:"";
    float:left;
    padding-top:100%;
  }
  @media screen and (hover: hover){
    &:hover{
      opacity: 0.5;
    }
  }
  transition: opacity 0.1s ease;
}
