<html>
{% include head.html %}
{% include header.html %}
{% include nav.html %}
<body>
  <div class="container">
    <div class="row">
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
      <div class="four columns">
        <img style="width:100%" src="https://via.placeholder.com/500x500" />
      </div>
    </div>
  </div>
</body>
{% include footer.html %}
</html>
